<odoo>
    <data>
        <menuitem id="main_odoo_informacion" name="Menú Nivel 0. Samuel Fraguas"/>
        <menuitem id="menu_odoo_informacion" name="Menú Nivel 1. Información" parent="main_odoo_informacion" action="informacion_list_action"/>
        <menuitem id="menu_odoo_suceso" name="Menú Nivel 2. Suceso" parent="main_odoo_informacion" action="suceso_list_action"/>
        <menuitem id="menu_odoo_pedido" name="Menú Nivel 3. Pedido" parent="main_odoo_informacion" action="pedido_list_action"/>
    </data>
</odoo>